<!DOCTYPE html> 
<html lang="en">

<head>
    <title>MAFS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/menu.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    </head>
     <!-- Logo and Text -->
        <div class="jumbotron">
            <div class="container-fluid text-center">
                <h1>
                    <img src="../public/images/logo.jpg" height="120">Missouri Association of Faculty Senates</h1>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="../index.html">HOME</a>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">ABOUT US
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="#">MAFS</a>
                                </li>
                                <li>
                                    <a href="#">Information</a>
                                </li>
                                <li>
                                    <a href="officers.html">Officers</a>
                                </li>
                                <li>
                                    <a href="#">Constitution/ By-Laws</a>
                                </li>
                                <li>
                                    <a href="#">Proc.Manual</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">INSTITUTIONS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="universities.html">Universities</a>
                                </li>
                                <li>
                                    <a href="#">Community Colleges</a>
                                </li>
                                <li>
                                    <a href="designated_voters.html">Designated Voters</a>
                                </li>
                                <li>
                                    <a href="#">Seante Act</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">EVENTS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="meetings.html">Meetings</a>
                                </li>
                                <li>
                                    <a href="reg-Form.html">Member Reg. Form</a>
                                </li>
                                <li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">RESOURCES
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="https://dhe.mo.gov/" target="_blank">MDHE</a>
                                </li>
                                <li>
                                    <a href="https://dhe.mo.gov/cbhe/" target="_blank">CBHE</a>
                                </li>
                                <li>
                                    <a href="/newsletter">Newsletter Template</a>
                                </li>
                                <li>
                                    <a href="#">Directory</a>
                                </li>
                                <li>
                                    <a href="#">Institution Links</a>
                                </li>
                                <li>
                                    <a href="#">Best Practice</a>
                                </li>
                                <li>
                                    <a href="#">Minutes</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a a class="dropdown-toggle" data-toggle="dropdown" href="#about">ADVOCACY
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-background">
                                <li>
                                    <a href="report.html">Report</a>
                                </li>
                                <li>
                                    <a href="#">Submission</a>
                                </li>
                                <li>
                                    <a href="create_account.html">Create Account</a>
                                </li>
                                <li>
                                    <a href="#">Executive Council</a>
                                </li>
                            </ul>
                        </li>
          
                        </ul>
                        
                        <ul class="nav navbar-nav navbar-right">
                             <li><a href="sign-up.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar END -->
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../public/images/1.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3>Faculty and Students</h3>
                    <p>Focus on Student Develpoment</p>
                </div>
            </div>

            <div class="item">
                <img src="../public/images/2.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3>Success and Opportunity</h3>
                    <p>Successful is what our students are</p>
                </div>
            </div>

            <div class="item">
                <img src="../public/images/3.jpg" alt="Image">
                <div class="carousel-caption">
                    <h3> Third image</h3>
                    <p>No content, so we display third image</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- The Content Area -->
    <div class="container content">
        <div class="row">
            <div class="col-md-8">
                <h1 class="ff8300" style="text-align: center">Meetings</h1>
                <br>
                <p>
                    <b class="b891" style="font-family:sans-serif; font-size: 18px">Feburary 11 & 12, 2019 MAFS Conference Information</b>
                </p>
                <p>We will be staying at the Capitol Plaza Hotel
                    <a href="http://www.capitolplazajeffersoncity.com/contactus.aspx" target="_blank">(http://www.capitolplazajeffersoncity.com/contactus.aspx)</a>. When you make your reservations please
                    mention you are part of the MAFS meeting. <strong>Contact Info is mention below.</strong></p>
                    <hr style="visibility: hidden">
                    <hr style="visibility:hidden">

                <h3 class="meetingAgenda">General Agenda</h3>
                <h4 style="text-align: justify">Monday</h4>
                <ul>
                    <li> <span style="color:indianred">5:00 pm</span> - Executive Board Meeting</li>
                    <li> <span style="color:indianred">6:00 pm</span> - Social Hour in the Lobby of the Capitol Plaza Hotel</li>
                    <li> <span style="color:indianred">7:00 pm </span>- Dinner and Presentations from Missouri Representatives from Higher Education</li>
                </ul>
                
                <h4 style="text-align: justify">Tuesday</h4>
                <ul>
                        <li> <span style="color:indianred ">8:00 am</span> - Delegate Pre scheduled Meetings with Representatives at the Capitol Building</li>
                        <li> <span style="color:indianred">9:00 am</span> - MAFS Delegates Meeting - <strong>Jefferson Building</strong> </li>
                </ul>

                <address style="text-align: right">
                        <h3 style="color:orchid">Ashley Hensley</h3>

                </address>
                 <a href="http://www.mafs.org/meetings/2017invoice.xlsx">Fall Meeting Invoice/Dues</a>
                    
                </div>
    
               

            <div class="col-md-4 rcorners card">
                 <h2 class="ff8300">Announcements</h2>
                 <p> <b class="b891">Spring Meeting February 11-12,2019</b>  </p>
                 <p>We will be staying at the Capitol Plaza Hotel
                    <a id="link" href="http://www.capitolplazajeffersoncity.com/contactus.aspx">(http://www.capitolplazajeffersoncity.com/contactus.aspx)</a>. When you make your reservations please
                    mention you are part of the MAFS meeting. The room rate for this meeting is $99. Make certain to tell
                    them you are with the Missouri Association of Faculty Senates. Your rooms must be reserved by February
                    2, 2015. After reserving your room, please complete the meeting registration form at
                    <a href="http://www.mafs.org/MAFSRegForm.asp">http://www.mafs.org/MAFSRegForm.asp</a>.</p>
                </div>
            <div class="col-md-4 rcorners card">
                    <h2 class="ff8300">Events</h2>
                    <p>
                    <b class="b891">Fun Events February 11-12,2019</b>
                </p>
                <p>More fun Events at the Capitol Plaza Hotel
                    <a id="link" href="http://www.capitolplazajeffersoncity.com/contactus.aspx">(http://www.capitolplazajeffersoncity.com/contactus.aspx)</a>. When you make your reservations please
                    mention you are part of the MAFS meeting. The room rate for this meeting is $99. Make certain to tell
                    them you are with the Missouri Association of Faculty Senates. Your rooms must be reserved by February
                    2, 2015. After reserving your room, please complete the meeting registration form at
                    <a href="http://www.mafs.org/MAFSRegForm.asp">http://www.mafs.org/MAFSRegForm.asp</a>.</p>
            </div>
                        </div>
        </div>
        </div>
    </div>
    <!-- Footer -->
    <footer style="margin-top:2em; text-align:center" class="footer">
                <div class="container">
                    <span class="text-muted">Missouri Association of Faculty Senates</span>
                </div>
     </footer>
    </body>

</html>